@import "tailwindcss";

:root {
  --background: #f9f3ee;
  --foreground: #3b1f0e;

  --primary: #6b3f1d;
  --primary-dark: #4f2c11;
  --secondary: #d8a100;

  --card: #ffffff;

  --border: #e8ddd4;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}

button {
  cursor: pointer;
}

@keyframes zoom {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.05);
  }
}
